body
{
	margin: 0px auto;
	padding: 0;
}
.main
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.slider
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup
{
	width: 1350px;
	margin: 0px auto;
	height: 600px;
	padding: 0;
}
.conup2
{
	width: 1350px;
	margin: 0px auto;
	
	padding: 0;
}
.conup3
{
	width: 1350px;
	margin: 0px auto;
	
	padding: 0;
}
.conup4
{
	width: 1350px;
	margin: 0px auto;
	
	padding: 0;
}
.conup5
{
	width: 1350px;
	margin: 0px auto;
	
	padding: 0;
}
.conup6
{
	width: 1350px;
	margin: 0px auto;
	height: 700px;
	padding: 0;
}
.conup7
{
	width: 1350px;
	margin: 0px auto;

	padding: 0;
}
.conup8
{
	width: 1350px;
	margin: 0px auto;

	padding: 0;
}
.conup9
{
	width: 1350px;
	margin: 0px auto;
	height: 800px;
	padding: 0;
}
.footer
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}